<div id="fanFinderWrapper">
	<div class="content">
		<!-- Google Maps -->
		<div id="map"></div>


		<form name="myForm" id="fanDataInput">
			<input class="cityInput" type="text" name="cityName" placeholder="Please Enter City">

		    <select name="singleSelect" ng-model="data.singleSelect" class="teamSelect">
		    	<option value="">Please select team</option>
		      <option value="option-1">Packers</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-1">Packers</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-1">Packers</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-1">Packers</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-1">Packers</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		      <option value="option-2">Falcons</option>
		    </select>
		  </form>
		
	</div>
	
</div>




